# Ruby / Bundler
*.gem
*.rbc
.bundle/
vendor/
.rvmrc
.rbenv-version
.ruby-version
.ruby-gemset

# Log and temp files
log/*
tmp/*
*.log
*.tmp

# Docker
*.pid
*.sock
Dockerfile
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# Editor/IDE
*.swp
*~
.idea/
.vscode/


# Ignore data/
data/*

# But keep default initial data files
!data/chain.json
!data/nodes/
!data/nodes/node_A.json
!data/nodes/node_B.json
!data/nodes/node_X.json

